@use "colors";
@use "grids";


html {
  height: 100%;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  position: relative;
  text-align: center;
  margin: 0 0 0 0;
  background-color: colors.$black;
}

header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  grid-template-rows: auto;
  gap: 0 20px;
  background-color: colors.$red;
  width: 100%;
  margin: 0 0 0 0;
}

main {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 70% 1fr;
  grid-template-rows: 20vh;
  background-color: colors.$black;
}

footer {
  position: relative;
  bottom: 0%;
  height: 100px;
  width: 100%;
  background-color: colors.$red;
}

footer p {
  position: relative;
  top: 25%;
  color: colors.$white;
}

.title {
  display: inline-block;
  position: relative;
  max-width: 90%;
  grid-column: grids.$headermiddle;
  grid-row: 1;
}

.subtitle {
  grid-column: grids.$headermiddle;
  grid-row: 2;
  font-size: 1.5rem;
  margin: 10px 0 10px 0;
}

.firstM {
  display: inline-block;
  position: inherit;
  text-align: center;
  align-self: center;
}

@keyframes swing {
  0% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(25deg);
  }
}

.bell {
  position: absolute;
  top: 49%;
  left: 36%;
  width: 2rem;
  height: 2rem;
  height: min-content;
  color: colors.$yellow;
  align-self: baseline;
  animation: swing ease-in-out 3s;
  transform-origin: 50% 0%;
  animation-iteration-count: infinite;
}

.bell-arch {
  position: relative;
  max-width: 10rem;
  max-height: 10rem;
  align-self: center;
}

.title-text {
  display: inline-block;
  align-self: center;
  margin: 0;
  font-size: 3rem;
  color: colors.$white;
}

.title1 {
  display: inline-block;
  height: fit-content;
}

.m {
  display: inline-block;
  font-size: 7rem;
  padding: 0;
  margin: 0;
  align-self: center;
}

.title2 {
  display: inline-block;
  height: min-content;
}

.menu {
  display: inline-block;
  margin-left: 50%;
  position: relative;
  grid-column: 3/4;
  grid-row: 1/3;
}

.dropbtn {
  position: absolute;
  right: 40%;
  bottom: 35%;
  background-color: colors.$black;
  color: colors.$yellow;
  font-size: 3rem;
  border-color: colors.$black;
  cursor: pointer;
  min-width: 3rem;
}

.dropbtn :hover, :focus {
  background-color: colors.$white;
  color: colors.$black;
}

.dropdown-content {
  position: absolute;
  right: 25%;
  top: 70%;
  min-width: 160px;
  display: none;
  background-color: colors.$black;
  border: 2px solid colors.$white;
  line-height: 5vh;
  box-shadow: 0px 8px 16px 0px colors.$black;
  z-index: 1;
}

.menu-link {
  display: block;
  font-size: 3vh;
  color: colors.$white;
}

.dropdown-content a :hover {
  color: colors.$yellow;
}

#get-started {
  color: colors.$yellow;
}

.show {display:block;}

.dividing-line {
  grid-column: 1/4;
  width: 100%;
  color: colors.$white;
  margin: 0;
}

.opener {
  position: relative;
  grid-column: grids.$mainspread;
  grid-row: 1;
}

.huge {
  font-size: larger;
  color: colors.$red;
}

.opener-text {
  position: absolute;
  grid-column: grids.$mainspread;
  top: 25%;
  left: 20%;
  right: 15%;
  color: colors.$white;
  font-size: 2.5vh;
}

.skyline {
  grid-column: grids.$mainspread;
  grid-row: 2;
  position: relative;
  width: 100%;
}

.shanghai-label {
  position: absolute;
  bottom: 30%;
  right: 20%;
  z-index: 2;
  color: colors.$white;
  font-size: 2vh;
}

.shanghai-skyline {
  font-size: 2vw;
}

@keyframes grow {
  from {
    width: 10%;
  }
  to {
    width: 90%;
    visibility: visible;
  }
}

@keyframes shrink {
  from {
    width: 90%;
  }
  to {
    width: 30%;
    visibility: visible;
  }
}

.graphic-1 {
  position: relative;
  grid-column: grids.$mainspread;
  grid-row: 3;
  width: 100%;
  margin: 10vh 0% 0 0%;
  height: 40vh;
  background-color: colors.$white;
}

  .language-bars {
    position: relative;
    margin: 10px 10px 10px 10px;
    height: 25%;
  }

  .english-bar {
    position: absolute;
    top: 15%;
    z-index: 1;
    background-color: colors.$yellow;
    box-shadow: 0px 4px 4px colors.$black;
    animation-name: shrink;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }

  .e-bar-text {
    position: absolute;
    left: 3%;
    z-index: 2;
    color: colors.$black;
    font-size: 1.5rem;
  }

  .mandarin-bar {
    position: absolute;
    bottom: 5%;
    z-index: 1;
    background-color: colors.$red;
    box-shadow: 0px 4px 4px colors.$black;
    animation-name: grow;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }

  .m-bar-text {
    z-index: 2;
    position: absolute;
    bottom: 30%;
    left: 3%;
    color: colors.$black;
    font-size: 1.5rem;
  }

.closer {
  position: relative;
  grid-row: 5;
  grid-column: grids.$mainmiddle;
  margin: 10%;
}

.closer-text {
  position: relative;
  color: colors.$white;
  font-size: 3vh;
}

.lower {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.lower div img {
  width: 48vw;
  height: 45vh;
  border-radius: 15%;
}

.lower div :hover {
  transform: scale(1.02);
}

.caption {
  color: colors.$white;
}


.top-left {
  grid-column: 1/2;
  grid-row: 1/2;
  border: solid colors.$black 10px;
  border-top: colors.$white solid 10px;
}

.top-right {
  grid-column: grids.$lowerright;
  grid-row: 1/2; 
  border: solid colors.$white 10px;
}

.bottom-left {
  grid-column: grids.$lowerleft;
  grid-row: grids.$lowerbottom;
  border: solid colors.$white 10px;
  border-bottom: solid colors.$white 10px;
}

.bottom-right {
  grid-column: grids.$lowerright;
  grid-row: grids.$lowerbottom;
  border: solid colors.$black 10px;
  border-bottom: solid colors.$white 10px;
}

.quote {
  position: relative;
  margin: 5% 0 5% 0;
  border: solid colors.$white 10px;
  padding: 20px;
  background-color: colors.$black;
}

input:focus, textarea:focus {
  outline: none;
}

.input {
  text-align: left;
  line-height: 4vh;
  font-size: 3vh;
  width: 40%;
  color: colors.$white;
  background-color: colors.$black;
}

.input-bottom-line {
  width: 40%;
}

.quote-query {
  font-size: 3vh;
  width: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  color: colors.$white;
  background-color: colors.$black;
}

.contact-button {
  width: 12%;
  height: 25%;
  font-size: 1.5em;
  background-color: colors.$red;
  color: colors.$white;
}

#year {
  color: colors.$white;
  font-size: 1em;
}

@media screen and (max-width: 480px){
  .title-text {
    font-size: 1.5rem;
  }
  .m {
    font-size: 5rem;
  }
  .subtitle {
    font-size: 1rem;
  }
  .bell {
    width: 20%;
    height: 20%;
  }
  .bell-arch {
    width: 80%;
    height: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .lower {
    display: grid;
    width: 85%;
    grid-template-columns: 1fr;
    padding: 1em;
    grid-row-gap: 100px;
  }
  .lower div {
    grid-column: grids.$lowercentered;
    grid-row: auto;
    width: 100%;
  }
  .lower div img {
    width: 100%;
    height: auto;
  }
  .spread {
    width: 75%;
  }
  .shanghai-label {
    position: absolute;
    bottom: 0%;
    right: 15%;
    z-index: 2;
    color: colors.$white;
    font-size: 2vh;
  }
}